/ span.main-text
/   h1
/     | Марианна Звездная
/   p
/     | Когда-то давно, еще в школе я начала писать стихи. Я сама не считаю себя талантом или высоко искусным мастером слова. Стихами я ищу выражение своих мыслей, чувств, и души. Здесь, на этой странице вы еще сможете найти мою прозу, некоторое в процессе написания или обдумывания. Пишите рецензии, я всегда рада почитать интересные мнения. С любовью и уважением ко всем читателям ваша Zvezdoz.

h1 Home#index
p.alert.alert-primary Find me in app views home index.html.slim

/ = render "../../webpack/components/page/page" do
p Hello from our first component!