// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #4D4D4D;
$primary-color: #EE2777;

body {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: $main-color;

  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 20%);
    }
  }

  .current {
    color: darken($primary-color, 20%);
  }
}

html,
body {
  height: 100%;
}

h1, h2, h4 {
  color: $primary-color;
}

p, h1, h2, h4, h5 {
  margin: 10px auto;
}

body {
  overflow-y: scroll;
  background-image: url('images/background.jpg');
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 80px 1fr 30px;
  grid-template-areas: 
    ". header header ."
    ". main main ."
    ". footer footer .";

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
  
    nav {
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          margin: auto 10px;
        }
      }
    }
  }
  
  main {
    grid-area: main;
    .main-text {
      font-family: 'Bad Script', cursive;
    }
    .pagination {
      text-align: center;
      margin: 20px auto;
      a {
        margin: auto 5px;
      }
    }
    .comments {
      .comment {
        border-bottom: 2px dotted $primary-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .comment-head {
          margin-bottom: 10px;
          .comment-title {
            margin: 20px 15px 30px 0;
            font-weight: bold;
            font-size: 1.15rem;
          }
          .comment-date {
            color: lighten($main-color, 25%)
          }
        }
      }
    }
    article {
      margin: 30px auto;
    }
    .field-remember {
      display: flex;
      label {
        margin-left: 5px;
      }
    }
    #new_user .field {
      label[for=user_password] {
        float: left;
      }
      #user_password {
        clear: both;
        display: block;
      }
    }
    input {
      background: lighten($primary-color, 43%);
      border: none;
      height: 30px;
      width: 200px;
      border-bottom: 3px $primary-color solid;
      padding: 3px;
    }
    input[type=submit] {
      background-color: $primary-color;
      color: white;
      font-size: 19px;
      font-family: inherit;
      font-weight: bold;
      border: none;
      cursor: pointer;
      width: auto;
      height: auto;
      padding: 5px;
      min-width: 200px;
      &:hover {
        background-color: darken($primary-color, 20%);
      }
    }
    input[type=checkbox] {
      height: auto;
      width: auto;
    }
  }
  
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}