// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 80px calc(100vh - 110px) 30px;
    grid-template-areas: 
      ". header header ."
      ". main main ."
      ". footer footer .";
      background-color: rgb(255, 255, 255);
  }
  
  .header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
  
    nav {
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          margin: auto 10px;
        }
      }
    }
  }
  
  .main {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  