// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #4D4D4D;
$primary-color: #EE2777;

html {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: $main-color;

  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 20%);
    }
  }

  .current {
    color: darken($primary-color, 20%);
  }
}

html,
body {
  height: 100%;
}

h1, h2, h4 {
  color: $primary-color;
}

p, h1, h2, h4, h5 {
  margin: 10px auto;
}

body {
  overflow-y: scroll;
  background-image: image-url("background.jpg");
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 80px 1fr 30px;
  grid-template-areas: 
    ". header header ."
    ". main main ."
    ". footer footer .";

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
  
    nav {
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          margin: auto 10px;
        }
      }
    }
  }
  
  main {
    grid-area: main;
    .main-text {
      font-family: 'Bad Script', cursive;
    }
    .pagination {
      text-align: center;
      margin: 20px auto;
      a {
        margin: auto 5px;
      }
    }
    .comments {
      .comment {
        border-bottom: 2px dotted $primary-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .comment-head {
          margin-bottom: 10px;
          .comment-title {
            margin: 20px 15px 30px 0;
            font-weight: bold;
            font-size: 1.15rem;
          }
          .comment-date {
            color: lighten($main-color, 25%)
          }
        }
      }
    }
    article {
      margin: 30px auto;
    }
  }
  
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}